.low-usage{
  color: green;
}
.medium-usage{
  color: black;
}
.high-usage{
  color: red;
}

body {
  padding: 0;
  margin: 0;
  background-color: orange;
}

.submit{
  border: none;
}

.outsidetemperature{
  position: relative;
  bottom: -400px;
}
.tempdisplay {
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:100pt;
}
.powerSavingDisplay {
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:20pt;
}

.up {
  margin: auto;
  position: relative;
  top: -100px;
  left: -50px;
  background-color: orange;
  background-position: center;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:50pt;

}
.down {
  margin: auto;
  position: relative;
  top: -100px;
  left: 50px;
  background-color: orange;
  background-position: center;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:50pt;
}

.re-set{
  margin: auto;
  background-color: orange;
  background-position: center;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:50pt;

}
.powersaving-on, .powersaving-off {
  border: 1px solid black;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
  text-align:center;
  font-size:10pt;
}
